.about-movie {
    background-color: $primary-bg-color;
    padding: 130px 0;

    h2 {
        position: relative;
        margin-top: 50px;
        margin-bottom: 40px;
        z-index: 1;
    }
}

.movie-info {
    width: 530px;
    padding-left: 80px;

    &.align-center {
        width: 580px;
    }
}

.rating {
    font-size: 135px;
    font-weight: 700;
    color: $accent-color-dark;
    display: block;
    position: absolute;
    top: -30px;
    left: -80px;
    z-index: -1;
}

.movie-content {
    width: 450px; //add new
    padding-left: 100px;
}

.movie-description {
    position: relative;
    color: $secondary-text-color;
    margin-bottom: 55px;
}

.movie-description::before {
    content: "";
    display: block;
    width: 60px;
    height: 2px;
    background-color: $accent-color;
    position: absolute;
    top: 5px;
    left: -100px;
}

.movie-heroes {
    background-image: url("../images/starwars-the-mandalorian.png"), url("../images/star-wars-rey-skywalker.png");
    background-repeat: no-repeat, no-repeat;
    background-position: left top, right top;
}

.align-center {
    margin: 0 auto;
}

.reverse-block {
    flex-direction: row-reverse;
}