header {
    position: absolute;
    width: 100%;
    top: 0;
    padding: 40px 0;

    .push-apart {
        align-items: center;
    }
}

.burger-menu {
    display: none;
}

.menu {
    display: flex;
    gap: 30px;

    & > li:hover {
        .menu-link {
            color: $accent-color;

            &::after {
                width: 100%;
            }
        }
    }
}

.menu-link {
    font-size: 14px;
    color: $primary-text-color;
    text-transform: uppercase;

    &:active {
        color: $accent-color;
    }

    &::after {
        content: "";
        display: block;
        width: 0;
        border-radius: 1px;
        height: 2px;
        background-color: $accent-color;
        transition: 0.3s ease-in;
    }
}

.submenu {
    display: none;
    position: absolute;
    top: 27px;
    left: -13px;
}

.dropdown {
    position: relative;
}

.dropdown-show {
    display: block;
}

.submenu-item {
    border: 0 solid $primary-text-color; 
    border-width: 1px 1px 0 1px; 
    background-color: $primary-bg-color;

    &:last-child {
        border-bottom-width: 1px;
    }

    &:hover {
        @extend %hover-state;
        border-color: $accent-color;

        .submenu-link {
            color: $accent-color;
        }
        
        & + .submenu-item {
            border-top-color: $accent-color;
        
        }
    }
}

.submenu-link {
    display: block;
    padding: 6px 20px;
    color: $primary-text-color;

    &:active {
        @extend %active-state;
    }
}

.menu-wrapper input {
    display: none;
}

@media (max-width: 1024px) {
    header {    
        .push-apart {
            flex-direction: column;
            align-items: center;
            gap: 30px;
        }
    }

    .menu-link {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    header {
        padding: 12px 0;

        .push-apart {
            flex-direction: row;
        }
    }

    .menu-wrapper {
        position: relative;
    }

    .menu-btn {
        width: 30px;
        height: 26px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        
        span {
            position: relative;
            display: block;
            width: 24px;
            height: 1px;
            background-color: #fff;

            &::after, 
            &::before {
                content: "";
                position: absolute;
                display: block;
                width: 24px;
                height: 1px;
                background-color: #fff;
            }

            &::after {
                top: 6px;
            }

            &::before {
                top: -6px;
            }
        }  
    }

    #menu-toggle:checked ~ nav {
        display: flex;
    }

    #menu-toggle:checked ~ .menu-btn > span {
        transform: rotate(45deg);
    }
    
    #menu-toggle:checked ~ .menu-btn > span::before {
        top: 0;
    }
    
    #menu-toggle:checked ~ .menu-btn > span::after {
        top: 0;
        transform: rotate(90deg);
    }

    nav {
        width: 100vw;
        height: 100vh;
        display: none;
        position: absolute;
        top: 28px;
        right: -14px;
        justify-content: center;
        align-items: center;
        background: $primary-bg-color;
    }

    .menu {
        flex-direction: column;
        gap: 15px;

        & > li:hover .menu-link::after {
            width: 0;
        }
    }

    .submenu {
        top: 0;
        left: 70px;        
    }
}
