header {
    position: absolute;
    width: 100%;
    top: 0;
    padding: 40px 0;

    .push-apart {
        align-items: center;
    }
}

.menu {
    display: flex;
    gap: 30px;

    & > li:hover {

        .menu-link {
            color: $accent-color;

            &::after {
                width: 100%;
            }
        }
    }
}

.menu-link {
    font-size: 14px;
    color: $primary-text-color;
    text-transform: uppercase;

    &:active {
        color: $accent-color;
    }

    &::after {
        content: "";
        display: block;
        width: 0;
        border-radius: 1px;
        height: 2px;
        background-color: $accent-color;
        transition: 0.3s ease-in;
    }
    
    &:hover::after {
        width: 100%;
    }
}

.submenu {
    display: none;
    position: absolute;
    top: 27px;
    left: -13px;
}

.dropdowm {
    position: relative;

    &:hover {
        .submenu {
            display: block;
        }
    }
}

.submenu-item {
    border: 0 solid $primary-text-color; 
    border-width: 1px 1px 0 1px; 
    background-color: $primary-bg-color;

    &:last-child {
        border-bottom-width: 1px;
    }

    &:hover {
        @extend %hover-state;
        border-color: $accent-color;

        .submenu-link {
            color: $accent-color;
        }
        
        & + .submenu-item {
            border-top-color: $accent-color;
        
        }
    }
}

.submenu-link {
    display: block;
    padding: 6px 20px;
    color: $primary-text-color;

    &:active {
        @extend %active-state;
    }
}
