.main-screen {
    background: no-repeat url("../images/main-screen-bg-image.svg");
    background-size: cover;
    padding: 200px 0 80px;
}

.main-screen-description {
    max-width: 545px;
    margin-bottom: 75px;
}

@media (max-width: 1024px) {
    .main-screen {
        padding: 180px 0 60px;
        text-align: center;
    }

    .main-screen-description {
        margin: 0 auto 60px;
    }
}

@media (max-width: 768px) {
    .main-screen {
        padding: 120px 0 40px;
    }

    .main-screen-description {
        margin: 0 auto 40px;
    }
}
