.main-screen {
    background: no-repeat url("../images/main-screen-bg-image.svg");
    background-size: cover;
    padding: 200px 0 80px;
}

.main-screen-description {
    width: 545px;
    margin-bottom: 75px;
}
