.modal-overlay {
    width: 100vw;
    height: 100vh;
    display: block;
    background-color: rgba(4, 4, 4, 0.5);
    position: fixed;
    top: 0;
    z-index: 9;
}

.modal-container {
    width: 80%;
    height: 50%;
    background-color: $primary-bg-color;
    border: 1px solid $accent-color;
    box-shadow: $primary-shadow;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
}

.modal-close-btn {
    width: 30px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 0;
    border: 0;
    outline: none;
    cursor: pointer;
    
    span {
        position: relative;
        display: block;
        width: 24px;
        height: 1px;
        background-color: #fff;
        transform: rotate(45deg);
 
        &::before {
            content: "";
            position: absolute;
            display: block;
            top: 0;
            width: 24px;
            height: 1px;
            background-color: #fff;
            transform: rotate(-90deg);
        }
    }  
}

.modal-audio-info {
    text-align: center;
}

.modal-rating {
    display: block;
    font-size: 26px;
    font-weight: 700;
    color: $accent-color;
    margin-top: 20px;
}

.modal-title {
    margin-top: 16px;
}

@media (max-width: 768px) {
    .modal-container {
        width: 85%;
        height: 45%;
    }
}
