.movie-slider {
    padding: 150px 0;
    overflow: hidden;
}

.slider-wrapper {
    max-width: 1030px;
    margin: 0 auto;
    position: relative;
}

.movies-list {
    display: flex;
    transition: 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.movie-item {
    width: 880px;
    height: 540px;
    margin: 0 75px;
    position: relative;
    flex-shrink: 0;

    .current-time,
    .media-duration {
        background-color: $primary-bg-color;
        padding: 4px 6px;
        display: none;
    }

    .btn-pause.btn-play,
    .media-duration,
    .current-time {
        opacity: 0;
        transition: 0.3s ease-in;
    }

    &.movie-item-playing  {
        .movie-item-image {
            display: none;
        }

        .media-duration,
        .current-time {
            display: inline-block;
        }
    }

    &:hover .btn-pause,
    &:hover .media-duration,
    &:hover .current-time{
        opacity: 1;
    }
}

.movie-item-image {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}

.btn-play {
    width: 85px;
    height: 85px;
    background-color: $accent-color;
    border-radius: 50%;
    border: none;
    padding: 0;
    cursor: pointer;
    @extend %absolut-center;

    &::after {
        content: "";
        display: block;
        width: 0;
        height: 0;
        border-top: 15px solid transparent;
        border-left: 30px solid $primary-bg-color;
        border-bottom: 15px solid transparent;
        @extend %absolut-center;
        left: 56%;
    }
}

.btn-pause.btn-play {
    
    &::after {
        content: "";
        display: block;
        border-top: none;
        border-left: none;
        border-bottom: none;
        background-color: black;
        width: 6px;
        height: 32px;
        left: 40%;
        @extend %absolut-center;
    }

    &::before {
        content: "";
        display: block;
        width: 6px;
        height: 32px;
        left: 60%;
        background-color: black;
        @extend %absolut-center;
    }
}

.slider-btn-left,
.slider-btn-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    svg {
        width: 60px;
        height: 43px;
    }

    &:active {
        transform: translateY(-50%) scale(1.2);
    }
}

.slider-btn-left {
    left: -30px;
}

.slider-btn-right {
    right: -30px;
}

.movie-video {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: contain;
    background-color: $primary-bg-color;
}

@media (max-width: 1200px) {
    .slider-wrapper {
        max-width: 930px;
    }

    .movie-item {
        width: 800px;
        height: 490px;
        margin: 0 65px;
    }
}

@media (max-width: 1024px) {
    .movie-slider {
        padding: 100px 0;
    }

    .slider-wrapper {
        max-width: 600px;
    }

    .movie-item {
        width: 500px;
        height: 307px;
        margin: 0 50px;

        .media-duration {
            padding: 2px 6px;
            font-size: 14px;
        }
    }

    .btn-play {
        width: 70px;
        height: 70px;

        &::after {
            border-top-width: 13px;
            border-left-width: 26px;
            border-bottom-width: 13px;
        }
    }
}

@media (max-width: 768px) {
    .movie-slider {
        padding: 80px 0;
    }

    .slider-wrapper {
        max-width: 480px;
    }

    .movie-item {
        width: 400px;
        height: 245px;
        margin: 0 40px;
    }

    .slider-btn-left svg,
    .slider-btn-right svg {
        width: 40px;
        height: 28px;
    }

    .slider-btn-left {
        left: -22px;
    }

    .slider-btn-right {
        right: -22px;
    }
}

@media (max-width: 550px) {
    .movie-slider {
        padding: 60px 0;
    }

    .slider-wrapper {
        max-width: 380px;
    }

    .movie-item {
        width: 300px;
        height: 185px;
        margin: 0 40px;

        .media-duration {
            padding: 0 6px;
            font-size: 12px;
        }
    }

    .slider-btn-left {
        left: -12px;
    }

    .slider-btn-right {
        right: -12px;
    }

    .btn-play {
        width: 60px;
        height: 60px;

        &::after {
            border-top-width: 11px;
            border-left-width: 22px;
            border-bottom-width: 11px;
        }
    }
}

@media (max-width: 425px) {
    .movie-slider {
        padding: 40px 0;
    }

    .slider-wrapper {
        max-width: 290px;
    }

    .movie-item {
        width: 240px;
        height: 148px;
        margin: 0 25px;
    }

    .slider-btn-left svg,
    .slider-btn-right svg {
        width: 30px;
    }

    .slider-btn-left {
        left: -15px;
    }

    .slider-btn-right {
        right: -15px;
    }
}

@media (max-width: 375px) {
    .movie-slider {
        padding: 40px 0;
    }

    .slider-wrapper {
        max-width: 275px;
    }

    .movie-item {
        width: 225px;
        height: 138px;
    }
}
