.movie-slider {
    padding: 150px 0;
    overflow: hidden;
}

.slider-wrapper {
    max-width: 1030px;
    margin: 0 auto;
    position: relative;
}

.movies-list {
    display: flex;
    margin-left: -100%;
}

.movie-item {
    padding: 0 75px;
    position: relative;

    img {
        display: block;
    }
}

.btn-video {
    width: 85px;
    height: 85px;
    background-color: $accent-color;
    border-radius: 50%;
    border: none;
    padding: 0;
    cursor: pointer;
    @extend %absolut-center;

    &::after {
        content: "";
        display: block;
        width: 0;
        height: 0;
        border-top: 15px solid transparent;
        border-left: 30px solid $primary-bg-color;
        border-bottom: 15px solid transparent;
        @extend %absolut-center;
        left: 56%;
    }
}

.slider-btn-left,
.slider-btn-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.slider-btn-left {
    left: -30px;
}

.slider-btn-right {
    right: -30px;
}

@media (max-width: 1200px) {
    .slider-wrapper {
        max-width: 930px;
    }

    .movie-item {
        padding: 0 65px;

        img {
            width: 800px;
        }
    }
}
