.sign-up {
    background-color: $primary-bg-color;
    padding: 100px 0;

    h2 {
        max-width: 587px;
        font-weight: 700;
        margin: 0 auto 60px;
    }
}

.form {
    width: fit-content;
    margin: 0 auto;
}

.email-input {
    width: 380px;
    color: $primary-text-color;
    background-color: transparent;
    border: 2px solid $accent-color;
    padding: 18px 15px;
    margin-right: 22px;
    outline: none;

    &::placeholder {
        color: $dark-text-color;
        text-transform: uppercase;
        font-weight: 400;
    }

    &:focus {
        box-shadow: $primary-shadow;
    }
}

.form-btn {
    padding: 18px 60px;
}

@media (max-width: 1200px) {
    .sign-up {
        background-color: $primary-bg-color;
        padding: 90px 0;

        h2 {
            margin: 0 auto 40px; 
        }
    }
}

@media (max-width: 1200px) {
    .sign-up {
        text-align: center;
    }

    .email-input {
        margin-right: 0;
        margin-bottom: 15px;
    }

    .form-btn {
        margin: auto;
        display: block;
    }
}

@media (max-width: 768px) {
    .sign-up {
        padding: 60px 0;
    }
}

@media (max-width: 425px) {
    .form {
        width: 100%;
    }

    .email-input {
        width: 100%;
    }
}
