$accent-color: #00a3ff;

$accent-color-transparent: rgba(0, 163, 255, 0.3);
$accent-color-dark: #025481;

$primary-text-color: #fff;
$secondary-text-color: #a7a7a7;
$dark-text-color: #515151;

$primary-bg-color: #040404;
$primary-bg-color-transparent: rgba(4, 4, 4, 0.3);


$primary-shadow: 0px 2px 6px rgba($accent-color, 0.8);
