* {
    box-sizing: border-box;
}

body {
    font-family: "Mont", Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: $primary-text-color;
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.wrapper {
    max-width: 1150px;
    margin: 0 auto;
    padding: 0 15px;
}

.push-apart {
    display: flex;
    justify-content: space-between;
}

.btn-link {
    display: inline-block;
    transition: 0.3s; 

    &:active {
        transform: scale(1.2);
    }

    &:hover svg {
        filter: drop-shadow($primary-shadow);
    }

    svg {
        stroke: $accent-color;
    }
}

.btn {
    padding: 18px 40px;
    background-color: transparent;
    border: 2px solid $accent-color;
    color: $primary-text-color;
    text-transform: uppercase;
    transition: 0.3s; 
    cursor: pointer;

    &:active {
        @extend %active-state;
    }

    &:hover {
        @extend %hover-state;
    }
}

.align-center {
    margin: 0 auto;
}

.media-time {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2%;
    position: absolute;
    bottom: 5%;
    left: 0;
}

.media-duration, 
.current-time {
    color: $primary-text-color;
    font-size: 16px;
    line-height: normal;
}

.timeline {
    width: 80%;
    height: 12px;
    background-color: $primary-bg-color-transparent;
    border: 1px solid $accent-color;
    cursor: pointer;
}   

.timeline-progress {
    width: 0;
    height: 100%;
    background-color: $accent-color;
}

@media (max-width: 1200px) {
    .wrapper {
        max-width: 960px;
    }
}

@media (max-width: 1024px) {
    .wrapper {
        max-width: 795px;
    }

    .timeline {
        width: 68%;
    }

    .media-duration, 
    .current-time {
        font-size: 12px;
    }
}
